<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/adminbase::layout(~{::section})">
<head>
<title>Document</title>
</head>
<body>
	<section>
		<div class="container-fluid">

			<a th:href="@{/admin/products-manage/add}" style="margin: 20px 0"
				class="btn btn-primary">Add Product</a>
			<table class="table">
				<thead class="thead-light">
					<tr>
						<th scope="col">SN</th>
						<th scope="col">Product Name</th>
						<th scope="col">Category</th>
						<th scope="col">Preview</th>
						<th scope="col">Delete</th>
						<th scope="col">Update</th>
					</tr>
				</thead>
				<tbody>

					<tr th:each="product, iStat : ${products}">
						<th scope="row" th:text="${iStat.index + 1}">1</th>
						<td th:text="${product.name}">Larry</td>
						<td th:text="${product.category.name}">Larry</td>
						<td><img src="#" height="100px" width="100px"
							th:src="@{'/images/' + ${product.imageurl}}"></td>

						<td><a th:onclick="|deleteproduct(${product.id})|"
							class="btn btn-danger btn-sm mt-2">Delete</a></td>
						<td><form th:action="@{'/admin/update-product/'+${product.id}}"
								method="post">
								<button type="submit" class="btn btn-warning btn-sm">Update</button>
							</form></td>
							
							

					</tr>
				</tbody>
			</table>
		</div>
	</section>
</body>
</html>