<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<title></title>
</head>
<body>
	<section>
		<div class="container">
			<div class="col-sm-6">
				<h3 style="margin-top: 10px">Sign Up Now</h3>
				<p>Please fill out this to register</p>
				<!-- alert message for record add successful or failure -->
					<div th:if="${session.message}" class="container col-8">

						<div th:classappend="${'alert-'+session.message.type}"
							class="alert  text-center">
							<span th:text="${session.message.content}"></span>
						</div>
						<!-- remove alert after completion -->
						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					</div>
				<form th:action="@{/register-process}" th:object="${user}" method="post">

					<!-- First Name Field -->
					<div class="form-group">
						<label for="firstName">First Name</label> <input type="text"
							name="firstName" id="firstName" required
							placeholder="Your Firstname" class="form-control form-control-lg"
							th:classappend="${#fields.hasErrors('firstName')?'is-invalid': ' ' }">
						<div th:each="e : ${#fields.errors('firstName')}" th:text="${e}"
							class="invalid-feedback"></div>
					</div>

					<!-- Last Name Field -->
					<div class="form-group">
						<label for="lastName">Last Name</label> <input type="text"
							name="lastName" id="lastName" required
							placeholder="Your Lastname" class="form-control form-control-lg"
							th:classappend="${#fields.hasErrors('lastName')?'is-invalid': ' ' }">
						<div th:each="e : ${#fields.errors('lastName')}" th:text="${e}"
							class="invalid-feedback"></div>
					</div>

					<!-- Email Address Field -->
					<div class="form-group">
						<label for="email">Email address</label> <input type="email"
							class="form-control form-control-lg" required minlength="6"
							placeholder="Email" name="email" id="email"
							aria-describedby="emailHelp"
							th:classappend="${#fields.hasErrors('email')?'is-invalid': ' ' }">
						<small id="emailHelp" class="form-text text-muted">We'll
							never share your email with anyone else.</small>
						<div th:each="e : ${#fields.errors('email')}" th:text="${e}"
							class="invalid-feedback"></div>
					</div>

					<!-- Password Field -->
					<div class="form-group">
						<label for="password">Password</label> <input type="password"
							class="form-control form-control-lg" required
							placeholder="Password" name="password" id="password">
					</div>

					<!-- Button Field -->
					<input type="submit" value="Register"
						class="btn btn-primary btn-block"> 
				</form>
			</div>
		</div>
	</section>
</body>
</html>